<div class="hero-about">
    <div class="hero-about-overlay"></div>
    <div class="hero-about-text">
      <h1><%=@license.keyword%></h1>
      <p>We are the best company in Europe, and have proven ourselves in many markets as the best. And we will satisfy our customers.</p>

    </div>
  </div>
